/* 4.0 : block mainContent */
#mainContent {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    margin: 40px 1.5%;
    scroll-margin-top: 80px;
    scroll-snap-margin-top: 80px;
    flex-wrap: nowrap;
}