@media screen and (max-width: 768px) {
    /* 2 : header */
    header {
        display: block;
        position: static;
        box-shadow: none;
        padding: 20px 0 0 0;
        margin: 0;
        width: 100%;
    }
    /* 2.1 : logo */
    .logo {
        display: block;
        width: 35%;
        align-items: center
    }
    .logo img {
        height: 50px;
    }
    /* 2.2 : menu de navigation */
    header nav {
        width: 100%;
    }
    .menu {
        width: 100%;
    }
    .menu li {
        width: 50%;
        font-size: 24px;
    }
    .menu li:last-child {
        width: 0;
    }
    a.link_menu, a.signUp {
        border-top: none;
    }
    a.link_menu {
        margin: 0;
        padding: 0;
        width: 100%;
        border-bottom: 6px transparent solid;
        display: flex;
        justify-content: center;
    }
    a.signUp {
        position: absolute;
        top: 0;
        right: 50px;
    }
    a.link_menu:hover, a.link_menu:focus {
        border-bottom-color: #0065FC;
    }