.localisation {
    background-color: #DDD;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height: 60px;
    width: 100%;
    margin-top: 60px;
    i {
        margin-right: 15px;
    }
}