.menuMaker {
    background-color: #F6F6F6;
    padding-top: 25px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    &__topDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &__titre {
            font-family: 'shrikhand';
            font-size: 27px;
            padding: 0 14% 0 4%;
        }
        &__fav {
            width: 40px;
            height: 40px;
            display: flex;
            text-align: center;
            font-size: 30px;
            color: #666;
            position: absolute;
            z-index: 1;
            top: 8px;
            right: 5%;
            bottom: 30px;
            &--faved {
                width: 40px;
                height: 11px;
                padding-top: 30px;
                display: flex;
                text-align: center;
                font-size: 0px;
                color: transparent;
                position: absolute;
                z-index: 2;
                top: 8px;
                right: 5%;
                background: linear-gradient($primaire, $secondaire);
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                bottom: 30px;
                transition: all 0.6s ease-out;
                &:hover, &:focus {
                    font-size: 30px;
                    height: 40px;
                    padding-top: 0px;
                }
            }
        }
    }
    &__partie {
        width: 45px;
        margin-left: 1%;
        padding: 30px 0 5px 0;
        color: #555;
        font-weight: normal;
        font-size: 18px;
        border-bottom: 4px solid $tertiaire;
    }
    &__liste {
        padding: 0 4%;
    }
    &__bottomDiv {
        height: 150px;
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        &__valider {
            @include bouton;
            padding: 20px 50px;
            &:hover, &:focus {
                @include bouton--hover;
            }
        }
    }
}